<aside>
    <section>
        {% if SOCIAL %}
        <div class="panel panel-default">
          <div class="panel-heading"><h4><i class="icon-home icon-large"></i>Social</h4></div>
          <div class="list-group">
            {% for name, link in SOCIAL %}
            <a href="{{ link }}" class="list-group-item">
                <i class="icon-{{ name }}-sign icon-large"></i>{{ name }}
            </a>
            {% endfor %}
            </div>
        </div>
        {% endif %}

        <div class="panel panel-default">
            <div class="panel-heading"><h4><i class="icon-tags icon-large"></i>Tags</h4></div>
            <div class="list-group">
                {% for tag in tag_cloud|sort(attribute='1') %}
                <a href="{{ SITEURL }}/{{ tag.0.url }}" class="list-group-item tag-{{ tag.1 }}">
                    {{ tag.0 }}
                </a>
                {% endfor %}
            </div>
        </div>
        {#
        <div class="panel panel-default">
            <div class="panel-heading"><h4><i class="icon-home icon-large"></i>Categories</h4></div>
            <div class="list-group">
                {% for cat, null in categories %}
                <a href="{{ SITEURL }}/{{ cat.url }}" class="list-group-item">
                    <i class="icon-folder-open icon-large"></i>{{ cat }}
                </a>
                {% endfor %}
            </div>
        </div>
        #}
    </section>
    {% include 'includes/github.html' %}
</aside>
